.inputBtn {
  border-radius: 4px;
  width: 10rem;
  height: 3rem;
  border: none;
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  font-size: 2rem;
  font-family: cursive;
  color: #fff;
  background-color: #90c3e7;
}
.inputBtn:hover {
  padding: 0rem;
  border: 0.1rem solid #0061a5;
}
